html {
  margin: 0 auto;
  text-align: center;
};

.pet {
  background-color: aqua;
  border-radius: 10px;
  display: inline-flex;
  margin: 10px;
  list-style-type: none;
  padding: 10px;
};

img {
  height: 30px;
  width: 55px;
};
